{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>
	Records...
</h1>
<table class="table table-hover">
  <thead class='table-dark'>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email </th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
  	{% if records %}
	{% for record in records%}
		<tr>
	      <th scope="row"><a href="{% url 'record' record.id %}">{{record.id}}</a></th>
	      <td>{{record.first_name}} {{record.last_name}}</td>
	      <td>{{record.email}}</td>
	      <td>{{record.phone}}</td>
	    </tr>	
	{% endfor %}
	{% endif %}
    
    </tbody>
</table>


{% else %}

<div class="col-md-6 offset-md-3">
	<h1>LOGIN</h1>
	<form method="POST" action="{% url 'home' %}">
		{% csrf_token %}
		<form>
		  <div class="mb-3">
		    <input  class="form-control" name='username' placeholder="Username">
		  </div>
		  <div class="mb-3">
		    <input class="form-control" name='password' placeholder="Password">
		  </div>
		  <button type='submit' class="btn btn-secondary">Submit</button>
		</form>
	</form>
<div>	
{% endif %}


{% endblock %}
